html
  body
    //
        This template loads for the 'tab.about' state (app.js)
    ion-view(title='Start trial')
      ion-content(padding='true')
        form(ng-submit='submitRegistration(registrationForm)' role='form'
          ng-init='registrationForm = {}')

          div.list
            label.item.item-input
              input(type='email' name='email' placeholder='Email address'
                ng-model='registrationForm.email' required='required')
            label.item.item-input
              input(type='password' name='password' placeholder='Password'
                ng-model='registrationForm.password' required='required')
            label.item.item-input
              input(type='password' name='password_confirmation'
                placeholder='Password confirmation'
                ng-model='registrationForm.password_confirmation'
                required='required')
          button.button.button-block.button-energized(type='submit'
            ng-click='startTrial()') Start trial
